doctype html
html
    head
        title Uh radio
    body
        h1 Welcome to Uh Radio
        a(href="/news/create") Створити новину
        br
        br
        a(href="/news/all") Переглянути всі новини
        br
        br
        a(href="/files/all") Список файлів